[Unit]
Description=Add root key to user %i agent 

[Service]
Type=oneshot
Environment=SSH_AUTH_SOCK=/tmp/ssh-agent.%i.socket
ExecStart=/usr/bin/ssh-add {{ ssh_admin_key_service_keypath }}
SELinuxContext=-system_u:system_r:{{ ssh_admin_key_service_setype }}:s0

[Install]
WantedBy=default.target

