module admin_ssh_add 1.0;

require {
    type fs_t;
	type unconfined_t;
	class file relabelto;
    class filesystem associate;
}

type admin_ssh_add_t;
type admin_ssh_add_exec_t;

# allow unconfined user to relabel ssh priv key file
allow unconfined_t admin_ssh_add_t:file relabelto;
allow admin_ssh_add_t fs_t:filesystem associate;
